@model RegioneViewModel
<div class="row">
    <div class="col-md-12">
        <h1>@(Model.nomeRegione)</h1>
        <h2>Capoluogo di Regione: <a href="#">Mome del capoluogo</a></h2>
        <h2>Totale abitanti: xxxxx</h2>
        <br />
        <h3>Elenco Province:</h3>
        <h2>Provincia uno</h2>
        <h2>Provincia due</h2>
        <h2>Provincia tre</h2>
        <h2>Provincia ...</h2>
        <br />
        <a class="btn btn-outline-primary" asp-cpntroller="Regioni" asp-action="Index">Torna all'elenco delle regioni</a>
    </div>
</div>