@model ProvinciaViewModel
<div class="row">
    <div class="col-md-12">
        <h1>@(Model.nomeProvincia) (XX)</h1>
        <h2>Totale abitanti: xxxxx</h2>
        <h2>Totale comuni: xxxxx</h2>
        <br />
        <h3>Regione: xxx</h3>
        <br />
        <a class="btn btn-outline-primary" asp-cpntroller="Province" asp-action="Index">Vai all'elenco delle province</a>
    </div>
</div>