<div class="row">
    <div class="col-md-9">
        <h1>Margherita di Savoia (BT)</h1>
        <h2>Regione: <a asp-cpntroller="Comuni" asp-action="Index">Puglia</a></h2>
        <h2>Provincia: <a asp-cpntroller="Comuni" asp-action="Index">Barletta-Andria-Trani</a></h2>
        <h2>Cap: <a asp-cpntroller="Comuni" asp-action="Index">76016</a></h2>
        <h2>Prefisso: <a asp-cpntroller="Comuni" asp-action="Index">0883</a></h2>
        <br />
        <h2>Abitanti: 11.000</h2>
        <h2>Codice catastale: E936</h2>
        <br />
        <a class="btn btn-outline-primary" asp-cpntroller="Comuni" asp-action="Index">Torna all'elenco dei comuni</a>
    </div>
    <div class="col-md-3">
        <br />
        <h2>Ripartizione geografica<br />Sud</h2>
        <img src="~/Italia/Sud.jpg" width="200">
    </div>
</div>